
<div *ngIf = "gear"class="container">
  <img [src]="gear.imageUrl" [alt]="gear.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{gear.name}}

      </span>

    </div>
    <div class="rating">
      <star-rating
      [value]="gear.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true"
      >

      </star-rating>

    </div>

    <div class="price">
      <span>
        {{gear.price | currency}}
      </span>

    </div>

    <button (click)="addToCart()">Add To Cart</button>

  </div>

</div>

