<app-search></app-search>
<ul>
  <li *ngFor="let gears of gears">
    <a routerLink="/gear/{{gears.id}}">
      <img [src]="gears.imageUrl" [alt]="gears.name"/>
      <div class="content">
        <div class="name">
          {{gears.name}}

        </div>
        <span class="favorite {{gears.favorite?'':'not'}}"></span>

        <div class="stars">
          <star-rating
          [value]="gears.stars"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="22px"
          [readonly]="true">

          </star-rating>

        </div>

        <div class="price">
          <span>
            {{gears.price | currency}}
          </span>

        </div>

      </div>

    </a>

  </li>
</ul>
